@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-oswald: var(--font-oswald), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility skills_border-bottom-offset {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 6px; /* Negative values move it down, positive up */
    left: 0;
    width: 100%;
    height: 1px;
    background-color: hsl(var(--border));
  }
}

@layer base {
  :root {
    --background: 0 0% 92%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 94%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 69.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  @font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald/Oswald-VariableFont_wght.ttf")
      format("truetype-variations");
    font-weight: 100 500 700 900;
    font-stretch: 75% 125%;
    font-display: swap;
    ascent-override: 95%;
    descent-override: 25%;
    line-gap-override: 0%;
  }

  /* @font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-display: swap;
    ascent-override: 92%;
    descent-override: 24%;
    line-gap-override: 0%;
  } */

  :root {
    --font-oswald: "Oswald", sans-serif;
    --font-metrics-oswald: 1.1;
    /* --font-open-sans: "Open Sans", sans-serif;
    --font-metrics-open-sans: 1.1; */
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-oswald;
  }

  .skills_border-bottom-offset {
    position: relative;
  }

  .skills_border-bottom-offset::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: hsl(var(--border));
  }

  .cursor-rounded {
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 32 32'%3e%3ccircle cx='9' cy='9' r='9' fill='hsl(0 0% 3.9%)'/%3e%3c/svg%3e")
        6 8,
      pointer;
  }

  .dark.cursor-rounded {
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 32 32'%3e%3ccircle cx='9' cy='9' r='9' fill='hsl(0 0% 92%)'/%3e%3c/svg%3e")
        6 8,
      pointer;
  }

  .cursor-theme {
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 30 30'%3e%3ccircle cx='15' cy='15' r='14' fill='none' stroke='hsl(0 0% 69.8%)' stroke-opacity='.5' stroke-width='1'/%3e%3c/svg%3e")
        30 30,
      pointer;
  }

  .dark.cursor-theme {
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 30 30'%3e%3ccircle cx='15' cy='15' r='14' fill='none' stroke='hsl(0 0% 14.9%)' stroke-opacity='.6' stroke-width='1'/%3e%3c/svg%3e")
        30 30,
      pointer;
  }
}
