@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans:
    var(--font-open-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-oswald:
    var(--font-oswald), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-pink: hsl(350 100% 88%);
  --color-gold: hsl(45 75% 52%);

  --breakpoint-3xl: 120rem;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* @utility skills_border-bottom-offset {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background-color: hsl(var(--border));
  }
} */

@layer base {
  :root {
    --radius: 0.5rem;
    --font-oswald: "var(--font-oswald)", sans-serif;
    --font-metrics-oswald: 1.1;
  }

  [data-theme="light"] {
    --background: 0 0% 98%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 98%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 69.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
  }

  [data-theme="dark"] {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 4.2%;
    --card-foreground: 0 0% 94%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  [data-theme="coloured"] {
    --background: 25 100% 97%;
    --foreground: 239 90% 74%;

    --card: 25 100% 97%;
    --card-foreground: 239 90% 74%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 239 90% 74%;

    --primary: 239 90% 74%;
    --primary-foreground: 0 0% 9%;

    --secondary: 239 90% 94%;
    --secondary-foreground: 239 90% 74%;

    --muted: 239 90% 94%;
    --muted-foreground: 239 90% 75%;

    --accent: 239 90% 94%;
    --accent-foreground: 239 90% 74%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 239 90% 94%;
    --input: 239 90% 94%;
    --ring: 0 0% 83.1%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-oswald;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .col-center {
    @apply flex flex-col items-center justify-center;
  }

  .general-title {
    @apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-.35vw];
  }
}

@layer components {
  [data-theme="light"].cursor-rounded {
    cursor:
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 32 32'%3e%3ccircle cx='9' cy='9' r='9' fill='hsl(0 0% 3.9%)'/%3e%3c/svg%3e")
        6 8,
      pointer;
  }

  [data-theme="dark"].cursor-rounded {
    cursor:
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 32 32'%3e%3ccircle cx='9' cy='9' r='9' fill='hsl(0 0% 92%)'/%3e%3c/svg%3e")
        6 8,
      pointer;
  }

  [data-theme="coloured"].cursor-rounded {
    cursor:
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 32 32'%3e%3ccircle cx='9' cy='9' r='9' fill='hsl(239 90% 74%)'/%3e%3c/svg%3e")
        6 8,
      pointer;
  }

  [data-theme="light"] .cursor-theme {
    cursor:
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 30 30'%3e%3ccircle cx='15' cy='15' r='14' fill='none' stroke='hsl(0 0% 14.9%)' stroke-opacity='.2' stroke-width='1'/%3e%3c/svg%3e")
        30 30,
      pointer;
  }

  [data-theme="dark"] .cursor-theme {
    cursor:
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 30 30'%3e%3ccircle cx='15' cy='15' r='14' fill='none' stroke='hsl(0 0% 69.8%)' stroke-opacity='.6' stroke-width='1'/%3e%3c/svg%3e")
        30 30,
      pointer;
  }

  [data-theme="coloured"] .cursor-theme {
    cursor:
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 30 30'%3e%3ccircle cx='15' cy='15' r='14' fill='none' stroke='hsl(139 90% 74%)' stroke-opacity='.1' stroke-width='1'/%3e%3c/svg%3e")
        30 30,
      pointer;
  }

  [data-theme="light"] .skills_button {
    @apply text-background bg-foreground hover:bg-gold;
  }

  [data-theme="dark"] .skills_button {
    @apply text-foreground bg-secondary hover:bg-foreground hover:text-background;
  }

  [data-theme="coloured"] .skills_button {
    @apply bg-pink hover:bg-destructive;
  }

  [data-theme="light"] .projects-card {
    @apply shadow-xl shadow-foreground/4;

    &[data-card] {
      @apply border bg-card border-border/25;
    }
  }

  [data-theme="dark"] .projects-card {
    @apply border shadow-lg shadow-foreground/2 border-border/45;

    &[data-card] {
      @apply border bg-card border-border/45;

      & img {
        @apply border border-border/25;
      }
    }
  }

  [data-theme="coloured"] .projects-card {
    @apply shadow-xl shadow-gray-200;

    &[data-card="timesact"] {
      @apply bg-[#f1f5f7] text-[#2c3e50];

      & .description {
        @apply bg-[#2c3e50] text-white px-1;
      }
    }

    &[data-card="sweet"] {
      @apply bg-[#f9d2cb] text-[#d80a0a];

      & .description {
        @apply bg-[#d80a0a] text-white px-1;
      }
    }

    &[data-card="swan"] {
      @apply bg-[#f0e7df] text-[#7e6f5d];

      & .description {
        @apply bg-[#7e6f5d] text-white px-1;
      }
    }

    &[data-card="greenspace"] {
      @apply bg-[#ede6d1] text-[#87935b];

      & .description {
        @apply bg-[#87935b] text-white px-1;
      }
    }

    &[data-card="inpaint"] {
      @apply bg-[#e8e0dd] text-[#676a74];

      & .description {
        @apply bg-[#676a74] text-white px-1;
      }
    }
  }

  .header-link {
    @apply text-base tracking-wider uppercase md:text-lg;
  }
}
